[color]
        ui = auto
        interactive = auto
[push]
        default = tracking
[branch]
        autosetupmerge = always
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
[user]
	name = Peter Farsinsen
	email = peter@farsinsen.dk
